awacs==0.7.2
troposphere==2.5.1
git+ssh://git@github.com/bbc/cosmos-troposphere.git#egg=cosmosTroposphere
awscli
botocore
boto3==1.9.63
crhelper==2.0.3
python-secrets==19.9.0
troposphere==2.5.1
pytest==5.3.1
pytest-mock==1.13.0
mock==3.0.5
pytest-datafiles==2.0
exchangelib==1.12.5
defusedxml==0.6.0
crypto==1.4.1
docopt==0.6.2
bs4==0.0.1
pyOpenSSL==19.0.0
psycopg2==2.7.5
pandas==0.25.0
pycurl==7.43.0.3
pyOpenSSL==19.0.0
